[2018-04-27 14:40] saraedum opened #4 "Improve README"
The README needs some improvements. It should be made to look nicer on github's front page and it also needs to mention the new `./bootstrap` workflow.

[2018-04-27 14:41] saraedum opened #5 "Remove randomization from otherwise deterministic algorithms"
SageMath needs to work around the fact that cddlib uses pseudo-random numbers. The problem is that srand()/rand() are not portable, i.e., srand() with the same seed produces different rand() outputs on
different platforms. So in particular putting the same data into cddlib produces different outputs on Solaris and Linux.

The question now is the following: Why do we need randomization at all in so

[2018-04-27 14:42] saraedum commented on #5
@vbraun, feel free to weigh in :)

[2018-04-27 21:40] vbraun commented on #5
Its not just dead architectures either, OSX and Linux have a different rand()

[2018-04-28 23:28] saraedum opened #6 "Properly implement cdd_both_reps"
See #3.

`cdd_both_reps.c` that a lot of distributions ship with cddlib has some performance issues it seems. We should try to implement it properly.

[2018-04-28 23:36] saraedum commented on #5
@komeifukuda Do you think we could drop the randomizations in these two places?

[2018-04-28 23:37] saraedum commented on #6
I could imagine giving it a try if @komeifukuda could give me some hints on where to start.

[2018-04-29 00:15] komeifukuda commented on #6
simplecdd.c does essentially the functionality of cdd_both_reps with options "--all" and "reps".  One just have to change I/O types (command argument to stream/stdout).   This is very easy.  The last option "--adjacency" requires a totally different computation (linear optimization) because it assumes that only one representation is known.  Note that when both representations are known, this is a

[2018-04-29 00:30] komeifukuda commented on #5
We only need a uniformly random generator, as the expected behavior of a randomized algorithm is sometimes much more superior to a deterministic one.  What do you propose as a substitute?

[2018-04-29 08:01] komeifukuda commented on #6
The program lcdd.c works exactly like cdd_both_reps --reps.  Try
lcdd_gmp < cube8.ine
It does not output the adjacency of any representation.
So, one can start with lcdd.c, adding some part of simplecdd.c is another way to emulate cdd_both_reps with "--reps" and "--all" options.  By adding the core part of adjacency.c
it would have all three functionalities.

[2018-04-29 09:24] komeifukuda commented on #6
@saraedum What about calling a new program "cddexec"?  The cdd functionalities are not only
representation conversion.  By using proper option names, one can tell what it does, like
cddexec --reps
cddexec --adjacency
cddexec --repsplus (instead of --all)
cddexec --redcheck (removing redundancies)
etc.

[2018-05-03 18:28] saraedum commented on #6
Ok. That sounds like a good idea to me.

[2018-05-03 21:05] saraedum commented on #5
Something like PCG maybe? http://www.pcg-random.org/download.html

[2018-05-14 15:18] saraedum opened #8 "Fix build on Windows/Cygwin"
From what it seems att https://trac.sagemath.org/ticket/15872, @embray seems to know what needs to be done to make this work on Cygwin.

Would you mind to propose the required Cygwin changes here?

[2018-05-14 17:26] embray commented on #8
I'm working on it.  I used to have this working when I last updated that ticket, but obviously things have changed since then.

[2018-05-15 10:25] #8 closed

[2018-05-18 22:48] saraedum commented on #5
Licensed under Apache 2.0 which is not GPL-2 compatible. I don't think we should relicense as GPL-3 just because of random numbers that we use quite trivially. The author had agreed a few years ago to dual-license with an MIT license it seems but that process has stalled apparently https://github.com/imneme/pcg-c-basic/pull/2.

[2018-05-18 23:07] saraedum commented on #5
[splitmix64](http://xoroshiro.di.unimi.it/splitmix64.c) is public domain and seems to be [very reasonable](https://github.com/lemire/testingRNG) though that does not really matter here.

[2018-05-19 20:43] komeifukuda commented on #5
By the way, randomization only affects the computational time but not the result.  So, it really does not matter if different platforms give different random permutations.  Also, only a few experts use this option because the default lexmin sorting of the input works better than the random ordering most of the time.  Can we just leave rand() as it is?

[2018-05-20 09:13] komeifukuda commented on #5
I see your point.  There is no need to have different orderings of output when one computes with the same option on different platforms.

I realized that the random permutation is used also for the purpose of avoiding O(n^2) worst-case behavior of the quicksort.   Any reasonable random generator should work well for this purpose.

Since it is easy to replace rand() with a deterministic algorithm (

[2018-05-20 14:06] saraedum commented on #5
I'm working on it already :)

[2018-05-23 11:30] saraedum commented on #6
@komeifukuda That might be a stupid question, but if I wanted to mimic what `cdd_both_reps --all` does, I could run  `cddexec --rep` and then put the output into `cddexec --repall` and that should be faster than explicitly calling `cddexec --redcheck` on the input, right?

[2018-05-23 12:39] komeifukuda commented on #6
It depends on the input.  When the dimension is small (3,4), your method of converting twice tend to be faster.  When the dimension is not too small (like 5 or more), and the redundancy is large, say, 90%,
the first execution with --rep might take a long time (5 min), while the redcheck execution is just a few seconds (3 sec).
Maybe I should post some interesting examples with huge redundancies to

[2018-05-23 13:18] komeifukuda commented on #6
Not everyone is interested in removing redundancy from the input.  So, either --rep or --repall is
what many people like to do.  If removing redundancy from input is important for the user, he/she
should run --recheck, not --rep & --repall, because, --redcheck returns exact information on which one is redundant and which one is essential (with information on how row numbers are modified in the non

[2018-05-23 13:31] saraedum commented on #6
I see. It seems that in Sage the polyhedra are always assumed to be without redundancy. Sure, maybe often people do not care about that, but the interface currently makes this assumption and it's beyond the scope of just replacing `cdd_both_reps` to remove this assumption. So, yes a rule of thumb would be great :)

[2018-05-23 13:47] komeifukuda commented on #6
Actually, the one execution of --repall does everything.  The incidence information of the input contains the redundancy/nonredundancy information.  The nonredundant ones are incident to a maximal set of output.  So, extracting only those rows and the associated adjacency should give the result.

Anyway, Sage interface should be more flexible and offer the user to see which input rows are redundan

[2018-05-23 13:53] saraedum commented on #6
I don't know why Sage does not offer more flexibility here. I can only guess that not many people are using Sage for research in that area but that polyhedra were originally added as a means to solve some other mathematical problem that reduced to linear optimization.

[2018-05-25 09:30] komeifukuda commented on #6
I guess it goes both ways.  If Sage does not provide more flexible options, only a few people find it useful, especially with a very slow response with cdd_both_reps.   Can you provide different functions in Sage such as --rep --repall --redcheck and --adjacency?  The user can decide what they want with their data.

[2018-05-25 10:22] saraedum commented on #6
I agree. The areas where Sage is particularly weak are the way they are because not many people use them because they are particularly weak.
Currently, polyhedra in Sage make the assumption that their representation is non-redundant. I assume it would be easy to relax this condition and provide more general functionality for somebody who knows Sage and works on research in that area.

[2018-05-25 13:44] komeifukuda commented on #6
I have just checked the Sage Reference Manual.  It seems that there are no optimization functions available.   Both TOPCOM (enumeration of triangulations) and Gfan (enumeration of Groebner bases) use cddlib's linear optimization codes.  I imagine that Sage that needed to incorporate these two codes leads to include cddlib.   I think the direct access to linear optimization of cddlib is useful for

[2018-06-07 08:30] #5 closed

[2018-06-07 08:31] #6 closed

[2018-06-07 08:31] #4 closed

[2018-06-21 15:29] saraedum opened #14 "scdd reports version 0.94g"
@komeifukuda wrote:
[code]

[2018-06-21 15:30] saraedum commented on #14
As this is not a new issue, let's fix this in the 0.94k release.

[2018-06-21 20:00] komeifukuda commented on #14
I noticed another similar (little) problem.  My COPYRIGHT is old.
17 #define dd_COPYRIGHT   "Copyright (C) 1996, Komei Fukuda, fukuda@ifor.math.ethz.ch"
18 #define dd_DDVERSION   "Version 0.94g (March 23, 2012)"

The line 17 should be
#define dd_COPYRIGHT   "Copyright (C) 2018, Komei Fukuda, fukuda@math.ethz.ch"
although my old email address still works.

Sorry for not noticing this earlier.

[2018-07-03 08:33] bc opened #15 "dd_MatrixRedundancyRemove algorithm + speed improvements?"
https://github.com/cddlib/cddlib/blob/148c0ee0b542da5ed1f5a1f8c0b3bee66d28ca78/lib-src/cddlp.c#L2602

And can it be parallelized/sped up for high number of constriants e.g. 1000+?
This is the bottleneck for my use case.

Thanks,
Brian

[2018-07-05 21:53] saraedum commented on #15
Dear @bc, I don't really understand your question here. Could you try to explain in more detail what changes you would like to see? Probably give some examples?

[2018-07-06 22:13] #14 closed

[2018-07-09 12:46] saraedum opened #16 "Provide man pages"
The binaries provided by cddlib currently don't have man pages that explain their usage. This keeps them from being exposed in `/usr/bin/` on Debian, see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=580890.

It would be nice if we could make the output of `--help` and `--version` comply with [help2man](https://www.gnu.org/software/help2man/) so we could generate man pages automatically.

[2018-07-09 12:53] saraedum opened #17 "Segmentation fault on invalid input"
The program `testlp1` segfaults on trivial (but invalid) input:
[code]

This has been originally reported here https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=716383.

[2018-07-10 03:13] bc commented on #15
Hi @saraedum ,
For my use case I'm creating an H matrix with 700-2000 constraints. I remove redundancy prior to using a hit-and-run algorithm . I use the `rcdd` package https://github.com/cjgeyer/rcdd  , which calls cddlib. Unfortunately, the performance is poor. For example, one of my constraint matrices went from 706-->338 constraints, but took ~14 hours on my laptop (2015 Macbook Pro).

What ar

[2018-07-11 21:35] saraedum opened #18 "Link from the cddlib homepage to the github repository"
@timokau who packages cddlib for NiX suggested on SageMath's issue tracker:

@komeifukuda, could you update the cdd homepage to mention this page on github? Or does it already and we missed the link somehow?

[2018-07-11 21:51] komeifukuda commented on #18
Sure, I will update the cddlib homepage and add the link to GitHub very soon.

[2018-07-12 11:44] timokau opened #19 "Building from source requires latex"
While updating the nix package I noticed that building from source now requires latex. However the error message wasn't very intuitive:

[code]

And the dependency is not mentioned in the README's building from source section.

[2018-07-12 13:51] saraedum commented on #15
There is no parallelization builtin and certainly no code that runs on the GPU. On other more general strategies I can not say much. Maybe @komeifukuda has some ideas?

[2018-07-13 10:18] komeifukuda commented on #15
Redundancy removal can be partitioned into several independent processes, say checking for 1-10, 11-20,..., 1901-2000 intervals.  One has to be a little careful, because a preprocessing is necessary.  If the feasible region is not full-dimensional, it is possible that every constraint is redundant while one cannot remove all constraints altogether.  A prepcocessing must embed it in a lower dimenti

[2018-07-14 20:09] timokau commented on #19
Github is becoming really unreliable lately, missing email notifications all the time :/

No, I build from a clone of the git repo at the release tag. I prefer to build the binary artefacts myself.

[2018-07-17 13:41] saraedum commented on #19
@timokau please have a look at #20. Would that have been sufficient in your case?

[2018-07-17 14:07] timokau commented on #19
Yes, that looks good to me. Thanks for taking the initiative to improve the cddlib build :)

[2018-07-17 16:06] #19 closed

[2018-07-26 11:12] saraedum opened #22 "Alternative output formats"
Rymà Nàit Amàrà asked:

[2018-07-26 11:16] saraedum commented on #22
There is a point in having outputs that are more easily machine readable. I, at least, would not be opposed to such an option. However, I do not really see this happening soon.
For your particular case, you should probably just try to use standard UNIX shell tools, to extract the relevant parts, or write a little Python (or similar) script to do so.

[2018-07-26 13:00] miranaitamara commented on #22
I tried this command for this example  "sed -n '3,7p;8q' dim1.ext >newfile"

V-representation
begin
 4 3 real
  1  0  0
  1  1  0
  1  0  2
  1  1  1
end

I got that
 4 3 real
  1  0  0
  1  1  0
  1  0  2
  1  1  1
the problem that remains is how to remove the "1" left and "real"

[2018-07-28 11:03] saraedum commented on #22
I am sure you'll find plenty of answers on how to remove a column on google.

[2018-07-28 12:18] slel commented on #22
A good starting point is the [Software Carpentry lesson on the Unix shell](http://swcarpentry.github.io/shell-novice/).

[2018-07-30 14:45] saraedum opened #24 "Distribute binaries with their source code"
Most of the binaries that come with cddlib are not meant to be used as is but more like samples of how to use the library from C code.

* So, where should we install these binaries?
* Where should we put the corresponding source code?
* Which binaries should we put on the user's PATH?

[2018-08-05 15:25] timokau opened #25 "Add tests"
It would be nice to be able to automatically test the cddlib package (`make check` and/or `make installcheck`). Since you already have examples, maybe just an automated way to verify those.

I tried running one example, but actually got a different result from the one in the repo. Maybe I did it wrong:

[code]

Compared to https://github.com/cddlib/cddlib/blob/1ace54f514b705db4a838de514d80dbdcf7ed

[2018-08-05 15:40] timokau commented on #18
This is done now: https://www.inf.ethz.ch/personal/fukudak/cdd_home/index.html

Thanks @komeifukuda!

[2018-08-05 15:54] #18 closed

[2018-09-02 22:32] mkoeppe opened #26 "Consider installing headers in ${prefix}/include/cdd/ instead of ${prefix}/include"
Ubuntu does that, probably to make `/usr/include` tidier and reduce the potential for clashes (note `setoper.h` has a very generic name).
So software using cddlib already has to check for this directory anyway.

[2019-07-08 10:28] ferrolho opened #34 "Numerically inconsistent"
Referencing [cddlib/cddlib#numerical-problems](https://github.com/cddlib/cddlib#numerical-problems) and https://github.com/JuliaPolyhedra/CDDLib.jl/issues/47.
https://github.com/cddlib/cddlib/blob/475890c3a760300f5b088c0c308d2b3b95b2acbb/lib-src/cddlib.c#L303

I am trying to understand why the set of vertices below would throw _Numerically Inconsistent_.
[code]

The values do not seem to be that c

[2019-07-09 07:48] saraedum commented on #34
@komeifukuda could you maybe have a look at this?

[2019-07-09 09:19] komeif commented on #34
Floating-point arithmetic errors are very hard to fix because there is no
well-defined definition of such errors.   But I will try to figure out what can be done.

One thing you can try is to remove the redundancy before the conversion.  In the example above,
5th and 6th points are redundant (non-vertices), and once they are removed from the input,
the computation seems to work correctly.  Removin

[2019-07-09 11:24] ferrolho commented on #34
Thank you both for the prompt reply.

_"One thing you can try is to remove the redundancy before the conversion."_
I can confirm this works for the set of points above. However, I am a bit confused: shouldn't the convex hull operation be invariant to redundancy? What I mean is: whether I remove redundant points or not, shouldn't the convex hull be the same? Or does this have to do with some bug/nu

[2019-07-09 11:42] komeif commented on #34
There is a (big) price to pay for floating-point computation.  We depend on such vague decision of a small number being zero, negative or positive.  There is no guarantee of any correctness.  If you really care about correctness, you have to use the exact rational arithmetic.

Some redundant points might be recognized as nonredundant during the conversion under floating-point arithmetic.  Then the

[2019-07-09 12:18] saraedum commented on #34
I wonder if it's possibly to understand this a bit better. So, if I understand correctly, chances are, that slightly modifying the input will change the output here. It would be interesting to see where exactly the "wrong" decision is taken with this input and whether something can be done about it.
What do you think?
Not sure if your @ferrolho want to get more involved here but I would be happy t

[2019-07-09 12:40] ferrolho commented on #34
Since this discussion might be worthwhile not only for me but also for future readers, I am going to take advantage of that and exploit my problem a bit further; I think your feedback will turn out very valuable.

I am using `cddlib` in the field of robotics; more specifically, for generating an optimal control trajectory that drives a robot from a start state to some final state (defined by some

[2019-07-13 08:06] saraedum commented on #34
@ferrolho I am not entirely sure how to proceed best here. Have you tried if the output changes in your example if you move the inputs slightly? It would be interesting to see if we can track down the place in the code where we might want to be slightly more careful with the calculations.

As a completely different option. It might be interesting to introduce an Arb backend here (in addition to mp

[2019-07-13 08:08] saraedum commented on #34
PS: I think I'll pass through Edinburgh in late August if you want to talk about these things in person.

[2019-07-13 08:34] komeif commented on #34
I have not done anything yet to figure out what went wrong.  It seems at least that all 12 facets were found during the computation, but one of them is recognized as non-facet somehow.

@saraedum  Your idea of using mpf to increment the precision in case of failure is interesting.  Actually, one can see in cddmp.h, mpf is basically implemented.  So, writing a code to increase precision with mpf mi

[2019-07-14 13:27] ferrolho commented on #34
Yes, shifting the inputs ever so slightly tends to solve the problem, but I am not very happy with this workaround because it is fundamentally changing the problem. I have tried an invariant operation, e.g., scaling the polytope by some factor (as well as all the remaining components of my problem), and it helps some times... But I need to process so many polytopes that it ends up not being enough

[2019-07-14 19:00] saraedum commented on #34
Sorry, I didn't mean to change the input as a means of fixing your input. Rather, we should start from two almost identical inputs that produce different outputs to find the place in the code where the "wrong" decision is taken.

[2019-07-14 19:01] saraedum commented on #34
Could you share such two inputs here?

[2019-07-15 13:16] ferrolho commented on #34
Yes, of course. Sorry for the misinterpretation.

**test1.ext**
[code]

**test2.ext**
[code]

The difference is in the last value of the first row: `-94.97` and `-94.9`.

### Outputs
[code]
[code]

[2019-07-16 14:43] komeif commented on #34
@ferrolho Thank you very much for simple examples where cddlib behaves erratically.  It is definitely a floating point arithmetic issue.  I have modified the default almost zero constant from 1.0E-7 to
#define ddf_almostzero  1.0E-6
in cdd.h and cdd_f.h, then the computation goes without any numerical issue.
What is a good solution?  I do not know, but playing with this constant is an easy workaro

[2019-07-16 17:46] saraedum commented on #34
@ferrolho I think you can get gdb to essentially trace program execution (printing all function calls.) You could compare this to attempt to find out where cddlib takes a different turn depending on these constants. I can help if it is unclear to you what I mean.

[2019-07-16 20:16] komeif commented on #34
@ferrolho cddlib uses a functional call for each arithmetic operation, and thus gdb output might be overwhelming.  There is a little trick to get some critical information by putting "debug" in the input file:
---
V-representation
begin
5 4 real
1  -316.5  -109    -94.97
1   245     228     79
1  -160     132.3  109
1  -377.3    63.6  -99.1
1  -376.5    81.2  -93.4
end
debug
---
Try to run scdd wi

[2019-08-28 23:03] ueliwechsler opened #35 "Build binaries on Windows"
Sorry, this may be a stupid question. But how can I build the binary of `cddlib` on Windows?
I couldn't figure it out so far. Any pointers are appreciated.

[2019-08-30 15:23] msinnl opened #36 "dd_DDInputAppend: H vs V-representation-bug?"
I tried modifying the example **testcdd2** by starting with a generator-representation instead of an inequalitiy-representation, and then update it with new generators using `dd_DDInputAppend`. However, when I then want to print the results, the H and V-representation seems to be mixed up, i.e., with `dd_CopyGenerators(poly)`, I get the H-representation, and with `dd_CopyInequalities(poly)` I get

[2019-09-02 08:51] ueliwechsler commented on #35
See [https://github.com/JuliaPolyhedra/CDDLib.jl/issues/46](url) for how we solved the issue.

[2019-09-02 11:13] saraedum commented on #35
Great you figured out how to do this. We should add instructions here. Probably we also want to build for Windows on [conda-forge](https://github.com/conda-forge/cddlib-feedstock).
So let's keep this issue open to track this.

[2019-09-02 11:25] blegat commented on #35
You can use the binary produced by https://github.com/benlorenz/cddlibbuilder for python too. They are produced by a Julia package (BinaryBuilder) but it's just classical cross-compiled binaries that can be used by any package

[2019-09-26 09:55] kylematoba opened #37 "what does a 'free' ray mean, precisely?"
I am having a hard time figuring out this:
https://github.com/cddlib/cddlib/blob/master/doc/cddlibman.tex#L245

My confusion can be seen in the V representation of

[code]
(by which I mean to phrase the polyhedron {(x, y) \in R^2 : 1 - (1.875, 1.125)' (x, y) >= 0})

which is

[code]

Evidently, the set of points that can be generated as nonnegative linear combinations of this vertex and two rays d

[2019-09-26 17:59] kylematoba commented on #37
In case it helps (it does not clarify things for me), the same computation in `lrs`:

[code]

Seems a bit weird that the `linearity` set is different here?

[2019-10-25 12:21] kylematoba commented on #37
For my purposes, it seems that a free ray is one that does not need to have a positive weight. It seems to be syntactic sugar for returning both the ray and -1 * the ray.

[2019-10-25 12:21] #37 closed

[2020-01-18 15:07] mkoeppe commented on #26
Decision?

[2020-01-21 16:44] saraedum commented on #26
Sure. Would you mind creating a PR? (#27 puts headers into cddlib/ which is the not the right thing to do given the legacy imho.)

[2020-01-21 17:04] mkoeppe commented on #26
OK I will prepare a pull request

[2020-01-21 19:10] saraedum commented on #26
Thanks!

[2020-02-07 12:47] dimpase opened #39 "add pkg-config support"
it will help packagers a lot, in partiular in view of #38

[2020-02-07 12:49] saraedum commented on #39
Sounds good. I would have to check how this works exactly, so feel free to open a PR.

[2020-02-07 14:24] dimpase commented on #39
Will do. With automake it's kind of trivial

[2020-02-07 19:49] #26 closed

[2020-02-08 11:11] dimpase commented on #39
see #40

[2020-02-08 11:11] #39 closed

[2020-04-30 15:35] JoergRambau opened #43 "Multi-threading"
Dear team,

I am Jörg Rambau (the author of TOPCOM), and I have been using the cddlib exact rational LP solver for a long time for checking regularity of triangulations of point configurations.

I came accross the following problem: When running multiple instances of cdd in parallel threads, the program crashes in random places, indicating that threads access the heap concurrently in cddlib. I cou

[2020-08-04 05:26] yifan-hou opened #44 "Wrong result without throwing any error on a well conditioned facet enumeration problem"
The problem happens when I compute the H-representation of a 3D cone with four generators. Unlike my previous experience with singularities, cddlib doesn't throw any error this time.

Here is a minimal example to reproduce it::

**input1.txt**
[code]

**input2.txt**
[code]
The only change from input1 to input2 is on the last line, from -0.47213 to -0.47214 (a change of 0.00001).

Call cdd from com

[2020-08-14 11:37] kliem opened #45 "Wrong determination of redundant rows"
For some reason rows 1,3 and 5 are considered redundant, but row 1 isn't.

This is version 0.94j as included in SageMath and reported as [https://trac.sagemath.org/ticket/30319]( https://trac.sagemath.org/ticket/30319).

    ---- CDD input -----
    H-representation
    linearity 2 1 2
    begin
     5 4 real
     0.0 0.0 1.0 1.0
     -1.0 0.0 1.0 1.0
     -1.0 2.0 -1.0 0.0
     -1.0 4.0 -2.0 0.0

[2020-09-08 21:23] yifan-hou commented on #44
Looks like it is not a good idea to use floating point when I don't have a way to check the results. Also I encountered cases when floating point doesn't make sense, for example, doing facet enumeration to four co-planar points in 3D space.

So I switched to exact (rational) arithmetic using a different library [PPL](https://www.bugseng.com/products/ppl/documentation/user/ppl-user-1.2-html/index.h

[2020-09-08 21:23] #44 closed

[2020-09-21 11:06] dimpase commented on #45
As discussed on https://trac.sagemath.org/ticket/30319 it also happens with cdd on rational data, not only on RDF.

[2020-09-21 11:49] saraedum commented on #45
@komeifukuda could you have a look at this one?

I am not actually all that familiar with the code base so if someone volunteers to have a look that would be great.

[2020-09-21 12:01] saraedum commented on #43
Sorry that no one replied earlier. I certainly won't have time to work on this but feel free to propose something in a PR.

The proper way of fixing this would be not to use static variables at all but that's probably a lot of work.

I am not sure whether thread static is really the correct solution. The result is that you cannot move a computation between threads even if the actual computation ru

[2020-09-21 12:02] saraedum commented on #36
This is probably not relevant anymore. Sorry that no one ever replied. @komeifukuda could you comment?

[2020-09-21 12:51] JoergRambau commented on #43
Dear Julian,

Thanks for your reply.

Thread local & C++-compiler is kind of the minimal-invasive work-around that
avoids heavy locking.  Unfortunately, I cannot do more than this.

So long, Jörg

[2020-09-21 13:08] komeif commented on #45
@dimpase You are right.  This polytope is of course the empty set.  A nonredundant representation of the empty set is not unique (in fact infinite), and somehow cddlib chose a wrong set of inequalities to represent the empty set.  I will check it out.  Thank you for the bug report.  Komei

[2020-09-25 15:30] komeif commented on #45
@dimpase @saraedum Here is the fix.  On the line 2640 (the function dd_MatrixRedundancyRemove) in cddlp.c,
please replace
if (dd_RedundantExtensive(M1, k, cvec, &redset1,error)) {
with
if (dd_Redundant(M1, k, cvec, error)) {

I still need to check whether the function dd_RedundantExtensive is working correctly.
This is an independent issue that I will keep working on.

Another thing, we must refle

[2020-09-25 17:59] komeif commented on #45
@dimpase @saraedum  Now, I see a better way to fix the bug.  The best is to fix
dd_RedundantExtensive.  In this function cddlp.c (at lines 2538-2541),
---
   set_copy(*redset,lp->redset_extra);
    set_delelem(*redset, itest);
    /* itest row might be redundant in the lp but this has nothing to do with its redundancy
    in the original system M.   Thus we must delete it.  */
---
we need to add o

[2020-09-26 17:18] komeif commented on #36
@saraedum @msinnl I did not notice this question until now.   The fix "setting poly->representation=dd_Generator; before calling above methods" is the right way to deal with an V-representation input.  It is not a workaround.

[2020-09-29 17:54] jengelh opened #49 "cddlib.pc points to wrong library"
[code]

The root of the problem is in `cddlib.pc` which specifies two libraries that both have `dd_CreateMatrix` but with different ideas of what `mytype` is.

[code]

[2020-09-29 18:39] saraedum commented on #49
@jengelh I don't know much about pkgconfig (which I believe this is about.) If you know how to fix this, we are very happy to receive a PR :)

[2020-09-29 22:20] jengelh commented on #49
Can you riddle me this? Why… What is the point of having two CreateMatrix functions in cddgmp?

[code]

[2020-09-30 00:06] saraedum commented on #49
I think it's a quite unfortunate design choice that every symbol exists twice. That's done by `Makefile.gmp.am`.

[2020-09-30 00:07] saraedum commented on #49
But I guess there's no point in the `dd_` symbols to show up in `libcddgmp.so`.

[2020-10-05 12:02] MathieuDutSik opened #51 "Remove divisions in cdd"
LRS can process polytope and find the dual description without using any divisions.
If one takes the LRS code and replace the mpz_class by mpq_class then we get a factor 3 in speed.
Thus I think there is a big potential in speed increase for CDD by using arithmetic more cleverly.
The routine where there are such divisions is dd_GaussianColumnPivot and this should be avoidable
(other instances are

[2020-10-05 12:22] MathieuDutSik opened #52 "Remove Linked-Lists in CDD"
CDD relies on Linked lists in order to compute the rays.

Linked-Lists are generally problematic since any insertion of a new entry requires an allocation.

A typical solution is to use instead `std::vector` in C++. The memory gets allocated whenever needed and typically we have a far fewer number of allocations.
Whether to move to C++ or not is another question, but one could get inspired by it a

[2020-10-05 12:24] MathieuDutSik opened #53 "Implement templated C++ version of CDD"
One templated version of CDD exists and is available at
[src_poly](https://github.com/MathieuDutSik/polyhedral_common/tree/master/src_poly)

[2020-10-06 15:18] saraedum commented on #53
Personally, I spend a lot of time these days programming in C++ so I don't mind the language at all. And I agree that the "templating" in cddlib could be improved quite a bit.

However, I think moving cddlib to C++ is going to create a lot of trouble. One could in principle change the implementation to use C++ but the exposed API would still have to be in C. Is that what you are doing on your bran

[2020-10-06 15:25] saraedum commented on #52
I have never profiled cddlib but I would not be surprised if linked lists were a bottleneck.

While I am reluctant to switch everything over to C++, I am very happy to accept PRs that change the underlying allocation scheme.

[2020-10-07 05:50] MathieuDutSik commented on #53
Right now, there isn't any exposed C-API but it could be created without problem.

[2020-10-08 21:57] slel commented on #45
@komeif can you send a pull request with the fix?

[2020-10-09 08:11] komeif commented on #45
@dimpase I wonder if you can send a pull request for me.  The change is so little (adding one line in dd_RedundantExtensive).  I really do not understand how GitHub works, and most likely I will do stupid things if I try to do this request.  Of course I take the full responsibility of this change.

[2020-10-09 08:23] kliem commented on #45
I created https://github.com/cddlib/cddlib/pull/54

[2020-10-09 10:48] dimpase commented on #45
@komeif - is this what you kept in mind, cf. #54 ?

[2020-10-09 10:54] komeif commented on #45
Yes, thank you very much.

[2020-10-09 12:27] dimpase commented on #45
I'm trying to test #54, but already the current master 879960a7c6c1a913aeffa0002008b000838472ec does not seem to reproduce the error. Specifically, I'm doing on, x86_64 Linux
[code]
with
[code]

Am I doing something wrong?

[2020-10-09 15:38] komeif commented on #45
You need to try
$ cddexec --redcheck <examples/bug.ine
not
$ cddexec --rep <examples/bug.ine
which works correctly without the patch.

This exection should return
H-representation
linearity 2  1 2
begin
 2 4 real
  0  0  1  1
 -1  0  1  1
end

which is a correct representation of the empty set.

Komei

[2020-10-09 19:36] komeif commented on #45
@dimpase Without the bug fix,
$ cddexec --redcheck <examples/bug.ine
returns a wrong result (as you pointed out):
H-representation
linearity 1  1
begin
 2 4 real
 -1  0  1  1
 -1  4 -2  0
end

which is not a representation of the empty set.

Komei

[2020-10-09 21:27] dimpase commented on #45
OK, this works, thanks.

[2020-11-30 18:38] saraedum opened #58 "Release 0.94m"
As pointed out by @komeifukuda in private mail, we should cut a new release.

Anything else you would like to happen for 0.94m? If not, I'll go ahead and release 0.94m in a few days.

[2020-11-30 20:08] komeif commented on #58
@saraedum Thank you very much for your initiative.  One more thing I already mentioned earlier is to update dd_DDVERSION in cddtypes.h.  Currently in cddlib-0.94l, we have a wrong number.
#define dd_DDVERSION   "Version 0.94j"
This version appears in output of many programs, and so this should be correct to know what version is running.  We can also put the date like "Version 0.94m (December 1, 20

[2020-12-08 14:43] #58 closed

[2020-12-09 19:02] slel commented on #45
Ready to close if this is fixed by #54.

[2020-12-09 19:05] kliem commented on #45
It works now. Thank you.

[2020-12-09 19:05] #45 closed

[2021-05-16 14:56] Zeta611 opened #62 "dd_ExistsRestrictedFace: R and S ever set to non-zero?"
I've been following the source and read cddlibman, and encountered the function: `dd ExistsRestrictedFace`.
However, checking all the use cases of the function, I can't seem to find where the arguments `R` and `S` are ever set after being initialized.
Am I missing something, or is this implemented for a customized use case which is not shown in the examples & main logic?

[2021-05-27 17:55] saraedum commented on #62
@komeifukuda you probably know best what is supposed to happen in this function. Could you comment?

[2021-05-27 18:07] komeif commented on #62
I do not understand the question.  The user has to set the sets R and S as he/she wishes and calls the function.
For example, see allfaces.c code in src directory to enumerate all faces of a polyhedron.

[2021-05-27 23:59] Zeta611 commented on #62
@komeif Thank you for the comment!

In `allfaces.c` I can see that both are initialized by
[code]
but can't find where they are set by the user.

So, should I set these programmatically using `set_addelem`?

[2021-05-28 07:16] komeif commented on #62
@Zeta611  You have to look at what the function call FaceEnum(M, R, S, rip, mindim) does.
The main calls this recursive function with both R, S empty.  The function recognizes
the facets of the original polyhedron and then sets R, S accordingly, as you see
the FaceEnum function where various set functions set_* are used.

[2021-05-28 07:40] #62 closed

[2021-08-08 11:13] SpaceIm opened #63 "Missing includes in public headers"
public headers are not self-content.

`cdd.h` lacks `stdio.h` for `FILE`
`cddtypes.h` lacks `cddmp.h` and `setoper.h`
generated `cddtypes_f.h` lacks `cddmp_f.h` and `setoper.h`

You can try a simple test program which only includes `cdd.h`, and you'll get errors like this:

[code]

Here is a quick fix, assuming `cddtypes_f.h` is already generated :

[code]

[2021-08-12 11:45] SpaceIm opened #64 "cddlib static: Undefined references with Apple-Clang"
`cddlib` initializes global variables in a function, which is not valid C AFAIK.

On macOS, with apple-clang, cddlib static will fail to link to an executable:

[code]

[2021-11-14 14:55] saraedum commented on #63
@SpaceIm could you create a pull request with these changes? (sorry for the late reply.)

[2021-11-14 14:57] saraedum commented on #64
I don't understand. Why would that not be valid C? (It's not great style I guess but in principle it seems to be valid to me.)

[2021-11-14 14:59] saraedum commented on #64
What do you mean exactly when you say "cddlib static"?

[2021-11-14 21:52] SpaceIm commented on #64
static library

[2021-11-14 22:07] saraedum commented on #64
Sure, but what exactly do you mean? That you cannot build the static library or that you cannot link to it?

It would also be helpful if you could elaborate on which part of the globals' initialization is not valid.

[2022-02-22 10:52] JacksonZyy opened #65 "Difference between GMPFLOAT and GMPRATIONAL in cddmp.h"
Hi,

I noticed both GMPFLOAT and GMPRATIONAL in cddmp.h.
May I ask what is the difference between these two? And also how can I compile with GMP float option perhaps?
Thanks for your reply!

[2022-02-24 22:53] saraedum commented on #65
Just from looking at the code, it seems that GMPFLOAT is not really supported in the build system at the moment. If you search for `DGMPRATIONAL` you should find the place in the build system where GMPRATIONAL is selected.

It seems that when GMPFLOAT is set, we are using [mpf_t](https://gmplib.org/manual/Floating_002dpoint-Functions) instead of mpq_t. I am not sure how well this works and whether

[2022-02-25 04:16] JacksonZyy commented on #65
Hi,

Thanks for your reply, I tried with GMPFLOAT, it doesn't really work.

BTW, I have [Numerically inconsistent](https://github.com/cddlib/cddlib/issues/34#) problem during execution, I tried to remove the redundancy points in V-representation (or adjust almostzero), but still led to this problem.
Does this inconsistency (with no redundancy in input V-rep) happen within the computation, and ther

[2022-02-26 07:42] saraedum commented on #65
Ok. Then we should maybe remove the GMPFLOAT code path.

I don't know the answer to your question since I don't really know much about the inner workings of cddlib.

Maybe @komeifukuda colud weigh in?

[2022-02-26 09:52] komeif commented on #65
@saraedum @JacksonZyy You are right that GMPFLOAT is not used in the build system.

It is there for the future project.  It is not meant to be a replacement of GMPRATIONAL, but it is
meant to be a replacement of the CPU dependent float arithmetic.  Sorry, I have not done any
further study myself.  I wanted to test GMPFLOAT against the CPU dependent float.  For this,
one has to define the precision

[2022-02-26 14:35] komeif commented on #65
@JacksonZyy To improve the efficiency of removing redundancy, please look at my recent experiments on Clarkson's algorithm:
https://cddlib.github.io/polyhedral_faq/#x1-230002.20
There are comparisons in both float and gmp arithmetics.  When the redundancy is huge, the speedup is very large.  It works only for full dimensional H-inputs at the moment.  For full dimensional V-inputs, the transformati

[2022-02-26 14:37] JacksonZyy commented on #65
@komeif Thank you so much for the information!

[2022-03-08 14:43] LinneLee opened #66 "The `scdd_gmp' or `scdd' binary from cddlib is required"
I'm installing a software(named lattE) with cddlib as a prerequisite, and after installing cddlib with the following code,
![image](https://user-images.githubusercontent.com/40954733/157260155-d1524485-68cb-49ec-b1c5-35cc66d89dbe.png)
I was confronted with this error while configuration:
![image](https://user-images.githubusercontent.com/40954733/157260377-0eb325da-1a3e-4297-a06c-4829dedc2340.png)

[2022-03-15 09:05] #65 closed

[2022-07-02 15:59] tiagomartinelli93 opened #68 "problem installing cddlib in a remote cluster"
Hi,

I'm getting the following error when trying to install via pip install -U pycddlib in a jupyter notebook:

Defaulting to user installation because normal site-packages is not writeable
Collecting pycddlib
  Using cached pycddlib-2.1.6.tar.gz (159 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pycddlib
  Building wheel for pycddlib (setup.py) ... error
  e

[2022-07-08 12:47] saraedum commented on #68
The system seems to be lacking GMP headers.

This is a problem in pycddlib's setup. I believe you should report this at https://github.com/mcmtroffaes/pycddlib/.

[2022-07-08 12:47] #68 closed

[2022-07-26 14:15] vryy opened #69 "skipping doc compilation"
Sometimes the system does not have pdflatex installed. Therefore it is advisable to add option to skip the doc compilation.

[2022-10-13 13:05] dimpase commented on #43
@JoergRambau - please provide us your patches.

[2022-10-14 16:05] dimpase commented on #43
@JoergRambau - I keep getting bounces from your apparent attempts to email me files which our over-eager spam filters consider harmful. Could you attach them here instead?

[2022-10-19 15:52] dimpase commented on #43
This is fixed in https://github.com/cddlib/cddlib/commit/1210faf9ee9cf02e29fc67e11a8ea4e847c58ddd

[2022-10-19 15:52] #43 closed

[2022-10-19 16:41] saraedum commented on #43
@dimpase thanks for improving upon that.

Could you add something in `news/` also?

I think it's best to make changes through Pull Requests in the future so people get a chance to comment on the proposed changes.

[2022-10-19 16:43] dimpase commented on #43
Sure, I'll do that.

Sorry for not going through a PR - I've hit `git push` a bit too soon...

[2022-10-19 16:45] dimpase commented on #43
@saraedum - I'm confused about `news/` - it contains a template, but how is it supposed to be used?

[2022-10-19 16:45] dimpase commented on #43
I can of course add stuff directly to ChangeLog

[2022-10-19 19:03] saraedum commented on #43
see https://github.com/cddlib/cddlib/blob/master/.github/pull_request_template.md